<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.propertymanagementapp">

    <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PropertyManagementApp">
        <activity
            android:name=".activity.ToDoListScreenActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CollectRentScreenActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TransactionsScreenActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TenantsScreenActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PropertyActivity"
            android:exported="true"
            android:theme="@style/Theme.PropertyManagementApp.NoActionBar"/>
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.PropertyManagementApp"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.PropertyManagementApp.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.PropertyManagementApp.NoActionBar" />
        <activity
            android:name=".activity.LoginRegisterChoiceActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>